html {
  font-family: 'Nunito', sans-serif;
  overflow-y: auto !important;
}

.gradient-bg-1 {
  background: $purple-blue-gradient;
}

.toasted {
  padding: 20px 25px !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
  background: #ffffff !important;
}

.toasted.toasted-primary.error {
  color: #fc6e6e !important;
}

.toasted.toasted-primary.success {
  color: #42be57 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.v-pagination__navigation:active,
.v-pagination__navigation:focus
.v-pagination__item:active,
.v-pagination__item:focus {
  outline: none;
}
